@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 500;
}
.secHeader{
    display: flex;
    justify-content: space-around;
    height: 12.5vh;
    width: 99.2vw;
    background-color: rgb(44, 62, 80);
    color: white;
    align-items: center;
}
.divHeader{
    display: flex;
    gap: 2vw;
}
.divHeader0{
    font-size: 3vh;
    font-weight: bold;
}
.divHeader>p{
    font-size: 2vh;
    font-weight: bold;
}
.sectionRouge1{
    display: flex;
    justify-content: center;
    background-color: rgb(218, 53, 68);
    height: 70vh;
}
.secRouge1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
.avatar{
    height: 30vh;
    width: 30vw;
}
.secRouge1>p{
    display: flex;
    justify-content: center;
    color: white;
}
.secRouge1>p:nth-child(2){
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 4vh;
}
.secRouge1>p:nth-child(3){
    margin-top: 0;
    font-weight: 500;
    font-size: 2.8vh;
    font-family: 'Lato';
}
.secPortfolio{
    height: 80vh;
}
.imgPort1{
    height: 26vh;
    width: 17vw;
    border-radius: 5px;
}
.portfolio{
    display: flex;
    justify-content: center;
}
.portfolio>p,.secRouge2>p{
    font-size: 5vh;
    font-weight: 600;
    margin-top: 7vh;
    margin-bottom: 1.5vh;
}
.imgPortfolio, .imgPortfolio1{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 3.5vh;
}
.sectionRouge2{
    height: 50vh;
    background-color: rgb(220, 53, 69);
}
.secRouge2{
    display: flex;
    justify-content: center;
    color: white;
}
.pgRouge{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2vw;
    line-height: 2.9vh;
}
.pg1Rouge, .pg2Rouge{
    width: 19%;
}
.pg1Rouge>p, .pg2Rouge>p{
    font-size: 2vh;
    color: white;;
}

.section3Rouge{
    display: flex;
    height: 115vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    width: 27.2vw;
    text-align: center;
}
.formulaire {
    font-size: 5vh;
    font-weight: bold;
    color: #2c3f50;

}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
label {
    text-align: left;
    font-size: 2.4vh;
    color: #6e7983;
    font-weight: 470;
}
input, textarea {
    width: 130%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 2.5vh;
    margin-bottom: 3vh;
}
textarea {
    resize: none;
}
.btn {
    background-color:rgb(217, 83, 79);
    color: white;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    font-size: 2vh;
    margin-top: 3vh;
}
.secFooter{
    height: 35.5vh;
    background-color: rgb(44, 62, 80);
}
.secFooter{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20vw;
    padding-right: 20vw;
}
.divFooter1, .divFooter2, .divFooter3{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vh;
    font-weight: 500;
    padding-top: 2vh;
}

.titreFooter{
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 0;
}

.startBootstrap{
    color: rgb(41, 201, 187);
    margin-top: -1.5vh;
}
.fontLogo{
    gap: 20px;
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-dribbble{
    border: solid 2px;
    padding: 1.5vh;
    border-radius: 50%;
    margin-left: 1vh;
}
.fa-facebook-f{
    padding-left: 1.8vh;
    padding-right: 1.8vh;
}
.toutenbas{
    height: 8vh;
    background-color:rgb(26, 37, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
.toutenbas>p{
    margin-top: 0;
    color: white;
    font-size: 1.5vh;
    font-weight: 300;
}