@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
body{
    font-family: 'Montserrat';
    font-weight: 500;
    margin: 0;
    overflow-x: hidden;
}

.secHeader{
    display: flex;
    justify-content: space-around;
    height: 12.5vh;
    background-color: rgb(44, 62, 80);
    color: white;
    align-items: center;
    align-self: center;
}
.listHeader{
    display: flex;
    gap: 2vw;
    list-style-type: none;
}

.divHeader{
    display: flex;
    justify-content: end;
    margin-right: -30%;
    gap: 2vw;
}
.divHeader0{
    font-size: 3vh;
    font-weight: bold;
}
.divHeader>p{
    font-size: 2vh;
    font-weight: bold;
}
.sectionRouge1{
    display: flex;
    justify-content: center;
    background-color: rgb(218, 53, 68);
    height: 70vh;
}
.secRouge1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}
.avatar{
    height: 30vh;
    width: 30vw;
}
.avatar {
        animation: slide-in 3s infinite ease;
      }
      
      @keyframes slide-in {
        from {
          translate: 150vw 0;
          scale: 200% 1;
        }
      
        to {
          translate: 0 0;
          scale: 100% 1;
        }
      }   
.secRouge1>p{
    display: flex;
    justify-content: center;
    color: white;
}
.secRouge1>p:nth-child(2){
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 4vh;
}
.secRouge1>p:nth-child(3){
    margin-top: 0;
    font-weight: 500;
    font-size: 2.8vh;
    font-family: 'Lato';
}
.imgPort1{
    height: 26%;
    width: 17%;
    border-radius: 5px;
}
.portfolio{
    display: flex;
    justify-content: center;
}
.portfolio>p,.secRouge2>p{
    font-size: 5vh;
    font-weight: 600;
    margin-top: 7vh;
    margin-bottom: 1.5vh;
}
.imgPortfolio, .imgPortfolio1{
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 3.5vh;
}
.sectionRouge2{
    height: auto;
    background-color: rgb(220, 53, 69);
}
.secRouge2{
    display: flex;
    justify-content: center;
    color: white;
}
.pgRouge{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2vw;
    line-height: 2.9vh;
}
.pg1Rouge, .pg2Rouge{
    width: 19%;
}
.pg1Rouge>p, .pg2Rouge>p{
    font-size: 2vh;
    color: white;;
}

.section3Rouge{
    display: flex;
    height: 130vh;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;
    text-align: center;
}
.formulaire {
    font-size: 5vh;
    font-weight: bold;
    color: #2c3f50;
    margin-top: 15vh;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
label {
    text-align: left;
    font-size: 2.4vh;
    color: #6e7983;
    font-weight: 470;
}
input, textarea {
    width: auto;
    padding: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 2.5vh;
    margin-bottom: 3vh;
}
textarea {
    resize: none;
}
.btn {
    background-color:rgb(217, 83, 79);
    color: white;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
    font-size: 2vh;
    margin-top: 3vh;
}
.secFooter{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20vw;
    padding-right: 20vw;
    height: auto;
    background-color: rgb(44, 62, 80);
}
.divFooter1, .divFooter2, .divFooter3{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vh;
    font-weight: 500;
    padding-top: 2vh;
    text-align: center;
}
.pgFreelance{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titreFooter{
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 0;
}

.startBootstrap{
    color: rgb(41, 201, 187);
    margin-top: -1.5vh;
}
.fontLogo{
    gap: 20px;
}
.fa-facebook-f, .fa-twitter, .fa-linkedin-in, .fa-dribbble{
    border: solid 2px;
    padding: 1.5vh;
    border-radius: 50%;
    margin-left: 1vh;
}
.fa-facebook-f{
    padding-left: 1.8vh;
    padding-right: 1.8vh;
}
.toutenbas{
    height: 8vh;
    background-color:rgb(26, 37, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
.toutenbas>p{
    margin-top: 0;
    color: white;
    font-size: 1.5vh;
    font-weight: 300;
}
@media (min-width:576px) and (max-width:1024px){
    body{
        overflow-x: hidden
    };
    .secHeader{
        flex-wrap: wrap;
        justify-content: space-around;
        height: 7vh;
        background-color: rgb(44, 62, 80);
        color: white;
        align-items: center;
    }
    .divHeader>p{
        font-size: 1.5vh;
        font-weight: bold;
    }
    .divHeader0{
        font-size:2vh ;
    }
    .secRouge1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    }
    .avatar{
        height: 20vh;
        width: 20vw;
    }
    .secRouge1>p:nth-child(2){
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 1vh;
        margin-top: 4vh;
    }
    .secRouge1>p:nth-child(3){
        margin-top: 0;
        font-weight: 500;
        font-size: 2vh;
        font-family: 'Lato';
    }
    .portfolio>p,.secRouge2>p{
        font-size: 3.5vh;
        font-weight: 600;
        margin-top: 6vh;
        margin-bottom: 1.5vh;
    }
    .imgPortfolio, .imgPortfolio1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin-bottom: 3.5vh;
    }
    .imgPort1{
        height: 20%;
        width: 20%;
        border-radius: 5px;
    }
    .pg1Rouge, .pg2Rouge{
        width: 16%;
    }
    .pg1Rouge>p, .pg2Rouge>p{
        font-size: 1.6vh;
    }
    .formulaire {
        font-size: 3.8vh;
    }
    .motForm{
        font-size: 2.5vh;
    }
    .btn {
        background-color:rgb(217, 83, 79);
        color: white;
        padding-top: 2vh;
        padding-bottom: 2vh;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 100px;
        font-size: 1.5vh;
        margin-top: 3vh;
    }
    .divFooter1, .divFooter2, .divFooter3{
        font-size: 1.5vh;
    }
    .divFooter3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .titreFooter{
        font-size: 2vh;
        font-weight: bold;
        margin-bottom: 0;
    }
    .secPortfolio{
        height: 60vh;
    }
    .section3Rouge{
        height: 115vh;
    }
}
@media (max-width:576px) {
    body{
        overflow-x: hidden;
    }
    .secHeader{
        flex-wrap: wrap;
        justify-content: space-around;
        height: 7vh;
        background-color: rgb(44, 62, 80);
        color: white;
        align-items: center;
    }
    .divHeader>p{
        font-size: 1vh;
        font-weight: bold;
    }
    .divHeader0{
        font-size:2.7vh;
    }
    .secRouge1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: bold;
        }
    .imgPortfolio, .imgPortfolio1{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        margin-bottom: 3.5vh;
        }
    .secPortfolio{
        height: 20%;
        }
    
    .pg1Rouge>p, .pg2Rouge>p{
        font-size: 1.3vh;
        line-height: 2;
    }
    .formulaire{
        font-size: 2.7vh;
    }
    .motForm{
        font-size: 2vh;
    }
    .secFooter{
        display: flex;
        justify-content: space-evenly;
        padding-left: 20vw;
        padding-right: 20vw;
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .btn{
        display: flex;
        justify-content: center ;
        align-items: center;
        align-self: center;
    }
    .divHeader {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -250px;
        background-color: #e8e8e8;
        padding-top: 60px;
        transition: left 0.5s ease;
      }
    .divHeader p:hover {
        color: #111;
    }
    .divHeader ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .divHeader.active {
        left: 0;
    }
    .divHeader .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    .burger-icon span {
        display: block;
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
        animation: glow 1s infinite ease;
    }
    .burger-icon span:hover{
        transform: scale(2.05);
        animation: bounce 0.5s infinite ease;
    }
    @keyframes glow {
        from {
          box-shadow: 0 0 10px #2e1616, 0 0 20px #fff, 0 0 30px #f00379, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
          box-shadow: 0 0 20px #695e5e, 0 0 30px #ff4da6, 0 0 40px #3826e2, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #4dff65, 0 0 80px #ff4da6;
        }
      }
    @keyframes bounce {
        70% { transform:translateY(0%); }
        80% { transform:translateY(-30%); }
        90% { transform:translateY(0%); }
        95% { transform:translateY(-20%); }
        97% { transform:translateY(0%); }
        99% { transform:translateY(-17%); }
        100% { transform:translateY(0); }
    }
    .avatar {
        animation-duration: 3s;
        animation-name: slide-in;
      }
      
      @keyframes slide-in {
        from {
          translate: 150vw 0;
          scale: 200% 1;
        }
      
        to {
          translate: 0 0;
          scale: 100% 1;
        }
      }
    .imgPort1 {
        animation: zoom-in-zoom-out 1s ease infinite
    }
    @keyframes zoom-in-zoom-out {
        0% {
          transform: scale(1, 1);
        }
        50% {
          transform: scale(1.3, 1.3);
        }
        100% {
          transform: scale(1, 1);
        }
      }
      .secRouge1>p:nth-child(2){
        font-size: 40px;
    }
}